<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>사원 정보 조회</h3>
	<div>
		<div>
			<label>사원번호</label>
			<input type="number" th:value="${empInfo.empid}" readonly>
		</div>
		<div>
			<label>이름</label>
			<input type="text" th:value="${empInfo.empname}" readonly>
		</div>
		<div>
			<label>상사번호</label>
			<input type="number" th:value="${empInfo.mgr}" readonly>
		</div>
		<div>
			<label>급여</label>
			<input type="number" th:value="${empInfo.sal}" readonly>
		</div>
		<div>
			<label>부서번호</label>
			<input type="number" th:value="${empInfo.deptid}" readonly>
		</div>
		<div>
			<label>입사일자</label>
			<input type="date" th:value="${#dates.format(empInfo.hiredate, 'yyyy-MM-dd')}" readonly>
		</div>
		<div>
			<button type="button" th:onclick="|location.href='@{/empUpdate(empid=${empInfo.empid})}'|">수정</button>
			<button type="button" th:onclick="|location.href='@{/empList}'|">목록</button>
			<button type="button" th:onclick="|location.href='@{/empDelete(empid=${empInfo.empid})}'|">삭제</button>
		</div>
	</div>
</body>
</html>