<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="content">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
    <div class="container mt-5">
        <h3 class="mb-4">게시글 상세 조회</h3>
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="table-warning" style="width: 20%;">번호</th>
                            <td th:text="${board.boardNo}"></td>
                        </tr>
                        <tr>
                            <th class="table-warning">제목</th>
                            <td>[[ ${board.boardTitle} ]]</td>
                        </tr>
                        <tr>
                            <th class="table-warning">내용</th>
                            <td th:text="${board.boardContent}" style="height: 100px;"></td>
                        </tr>
                        <tr>
                            <th class="table-warning">첨부이미지</th>
                            <td>
                                <img th:src="@{/images/{fileName}(fileName=${board.image})}" class="img-fluid" style="width:50%;">
                            </td>
                        </tr>
                        <tr>
                            <th class="table-warning">작성일자</th>
                            <td th:text="${#dates.format(board.regdate, 'yyyy/MM/dd')}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-warning me-2" th:onclick="|location.href='@{boardUpdate(boardNo=${board.boardNo})}'|">수정</button>
                    <button type="button" class="btn btn-secondary me-2" th:onclick="|location.href='@{/boardList}'|">목록</button>
                    <button type="button" class="btn btn-danger" th:onclick="|location.href='@{boardDelete(boardNo=${board.boardNo})}'|">삭제</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>