<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>게시글 등록</h3>
		<form name="insertForm" th:action="@{/boardInsert}" method="post" >
			<table class="table">
				<tr>
					<th>제목</th>
					<td><input type="text" name="boardTitle"></td>
				</tr>
				<tr>
					<th>작성자</th>
					<td><input type="text" name="boardWriter"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><textarea name="boardContent" cols="30" rows="5"></textarea></td>
				</tr>
				<tr>
					<th>첨부이미지</th><!-- cat.jpg -->
					<td><input type="text" name="image"></td>
				</tr>
				<tr>
					<th>작성일자</th><!-- 'yyyy/MM/dd' -->
					<td><input type="text" name="regdate" placeholder="yyyy-MM-dd"></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">등록</button>
		</form>
	</div>
	<script>
		$('form[name=insertForm]').on('submit', boardInsertHandler);
		function boardInsertHandler(event){
			event.preventDefault(); //해당 이벤트 일시정지
			
			let boardTitle = $('input[name="boardTitle"]')
			if(boardTitle.val() == ''){
				alert('제목이 입력되지 않았습니다.');
				boardTitle.focus();
				return;
			}
			
			let boardWriter = $('input[name="boardWriter"]')
			if(boardWriter.val() == ''){
				alert('작성자가 입력되지 않았습니다.')
				boardWriter.focus();
				return;
			}
			
			alert('게시글이 등록되었습니다.');
			insertForm.submit();
		}
	</script>
</body>
</html>