<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>게시글 등록</h3>
	<form name="insertForm" th:action="@{/boardInsert}" method="post" enctype="multipart/form-data">
		<div>
			<label>제목</label>
			<input type="text" name="boardTitle">
		</div>
		<div>
			<label>내용</label>
			<textarea name="boardContent" cols="30" rows="5"></textarea>
		</div>
		<div>
			<label>작성자</label>
			<input type="text" name="boardWriter">
		</div>
		<div>
			<label>작성일</label>
			<input type="date" name="regdate">
		</div>
		<div>
			<label>첨부이미지</label>
			<input type="file" name="images" multiple>
		</div>
		<div>
			<button type="submit">등록</button>
		</div>
	</form>
	<script>
		$('[name=insertForm]').on('submit', function(event){
			event.preventDefault();
			//console.log('제이쿼리');
			
			let boardTitle = $('input[name="boardTitle"]')
			if(boardTitle.val() == ''){
				alert('제목은 필수입니다.')
				boardTitle.focus();
				return;
			}
			
			let boardContent = $('input[name="boardContent"]')
			if(boardContent.val() == ''){
				alert('내용은 필수입니다.')
				boardContent.focus();
				return;
			}
			
			let boardWriter = $('input[name="boardWriter"]')
			if(boardContent.val() == ''){
				alert('작성자는 필수입니다.')
				boardWriter.focus();
				return;
			}
			
			let regdate = $('input[name="regdate"]')
			if(regdate.val() == ''){
				alert('작성일 선택은 필수입니다.')
				regdate.focus();
				return;
			}
			
			insertForm.submit();
		})
	</script>
</body>
</html>