<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="content">
<head>
	<meta charset="UTF-8">
	<meta name="contextPath" th:value="${#httpServletRequest.getContextPath()}">
	<title>Insert title here</title>
</head>
<body>
    <div class="container mt-5">
        <h3 class="mb-4">게시판 전체 조회</h3>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-warning">
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="board : ${boards}">
                            <tr th:onclick="|location.href='@{/boardInfo(boardNo=${board.boardNo})}'|">
                                <td th:text="${board.boardNo}"></td>
                                <td th:text="${board.boardTitle}"></td>
                                <td th:text="${board.boardWriter}"></td>
                                <td th:text="${#dates.format(board.regdate, 'yy년MM월dd일')}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/boardInsert}'|">등록</button>
                </div>
            </div>
        </div>
    </div>
	<script>
		//이방법도 있고 위에 onclick방법도 있고
/* 		const context = $('meta[name="contextPath"]').attr('value');
		$('tbody > tr').on('click', function (event) {
			let bno = $(event.currentTarget).children().first().text();
			//console.log(bno,'가져와');
			let url = context + '/boardInfo?boardNo=' + bno;
			//console.log(url);
			location.href = url;
		})  */
	</script>
</body>
</html>