<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>게시글 상세 조회</h3>
	<div>
		<div>
			<label>번호</label>
			<input type="number" th:value="${board.boardNo}" readonly>
		</div>
		<div>
			<label>제목</label>
			<input type="text" th:value="${board.boardTitle}" readonly>
		</div>
		<div>
			<label>내용</label>
			<input type="text" th:value="${board.boardContent}" readonly>
		</div>
		<div>
			<label>작성자</label>
			<input type="text" th:value="${board.boardWriter}" readonly>
		</div>
		<div>
			<label>작성일</label>
			<input type="date" th:value="${#dates.format(board.regdate, 'yyyy-MM-dd')}" readonly>
		</div>
		<div>
			<label>수정일</label>
			<input type="date" th:value="${#dates.format(board.updatedate, 'yyyy-MM-dd')}" readonly>
		</div>
		<div>
			<label>첨부이미지</label>
			<input type="image" src="images/bird.jpg" alt="이미지" style="width:100px; height:100px" readonly>
		</div>
		<div>
			<button type="button" th:onclick="">수정</button>
			<button type="button" th:onclick="|location.href='@{/boardList}'|">목록</button>
			<button type="button" th:onclick="">삭제</button>
		</div>
	</div>
</body>
</html>