<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>부서 정보 수정</h3>
	<form name="updateForm" th:object="${deptInfo}">
		<div>
			<label>부서번호</label>
			<input type="number" th:field="*{departmentId}" readonly>
		</div>
		<div>
			<label>부서이름</label>
			<input type="text" th:field="*{departmentName}">
		</div>
		<div>
			<label>상사번호</label>
			<input type="number" th:field="*{managerId}">
		</div>
		<div>
			<label>지역번호</label>
			<input type="number" th:field="*{locationId}">
		</div>
		<div>
			<button type="button" id="updateBtn">저장</button>
		</div>
	</form>
	<script>
		$('#updateBtn').on('click', updateAjax);
		function updateAjax(event){
			if(validationCheck() == false) return;
			
			let dataObj = getDeptObj();
			
			$.ajax('deptUpdate', {
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(dataObj)
			})
			.done(result => {
				console.log(result,'결과');
			})
			.fail(err => console.log(err,'에러'));
		}
		function validationCheck(){
			let deptname = $('[name="departmentName"]');
			if(deptname.val() == ''){
				alert('부서이름은 필수입니다.');
				deptname.focus();
				return false;
			}
			let mgrid = $('[name="managerId"]')
			if(mgrid.val() == ''){
				alert('상사번호는 필수입니다.');
				mgrid.focus();
				return false;
			}
			let locid = $('[name="locationId"]')
			if(locid.val() == ''){
				alert('상사번호는 필수입니다.');
				locid.focus();
				return false;
			}
			return true;
		}
		function getDeptObj(){
			let formAry = $('form[name="updateForm"]').serializeArray();
			
			let formObj = {};
			$.each(formAry, function(idx, input){
				formObj[input.name] = input.value;
			});
			return formObj;
		}
	</script>
</body>
</html>