<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>도서 등록</h3>
		<form name="insertForm" th:action="@{/bookInsert}" method="post">
			<table class="table">
 				<tr>
					<th>도서번호</th>
					<td><input type="number" th:value="${lastNo}" name="bookNo" readonly></td>
				</tr>
				<tr>
					<th>도서명</th>
					<td><input type="text" name="bookName"></td>
				</tr>
				<tr>
					<th>도서표지</th><!-- cat.jpg -->
					<td><input type="text" name="bookCoverImg"></td>
				</tr>
				<tr>
					<th>출판일자</th><!-- 'yyyy/MM/dd' -->
					<td><input type="date" name="bookDate"></td>
				</tr>
				<tr>
					<th>금액</th>
					<td><input type="text" name="bookPrice"></td>
				</tr>
				<tr>
					<th>출판사</th>
					<td><input type="text" name="bookPublisher"></td>
				</tr>
				<tr>
					<th>도서소개</th>
					<td><textarea name="bookInfo" cols="30" rows="5"></textarea></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">등록</button>
			<button type="button" class="btn btn-secondary" th:onclick="|location.href ='@{/bookList}'|">조회</button>
		</form>
	</div>
	<script>
		$('form[name=insertForm]').on('submit', bookInsertHandler);
		function bookInsertHandler(event){
			event.preventDefault(); 
			
			let bookName = $('input[name="bookName"]')
			if(bookName.val() == ''){
				alert('도서명이 입력되지 않았습니다.');
				bookName.focus();
				return;
			}
			
			alert('도서등록이 완료 되었습니다.');
			insertForm.submit();
		}
	</script>
</body>
</html>